@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
html {
  font-size: 10px;
}
body {
  margin: 0;
  min-height: 100vh;
  background: #ffb74d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}

h1 {
  margin: 0;
}
h6 {
  margin: 0;
}
.title {
  margin-bottom: 2rem;
}

.wrapper {
  width: 26vh;
  padding: 11px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.input_box {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2px;
}
.input_box input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  color: #757575;
  width: 1rem;
  transition: width ease 2s;
}

.input_box input:focus,
button {
  width: 11rem;
  outline: none;
  color: #ffffff;
}

.handleBtn {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.handleBtn:hover {
  background-color: #d6cdcd;
  cursor: pointer;
}
